@import "components/navbar";
@import "components/alerts";
@import "pages/home";
@import "pages/devise";
@import "pages/storage";
@import "pages/storage_form";
@import "pages/storage_show";
@import "pages/wine_form";
@import "pages/wine_show";
@import "pages/history";
@import "pages/consume";
@import "pages/wine_library";

body {
  background-color: #f5f1e8;
}
